body{
	font-family:  sans-serif;
	font-size:12px;
	font-weight:100%;
}
body {
  margin: 0;
}

.login-area {
	margin-left:350px;
	width:595px	;	
	height:320px;
	text-align:center;
	padding-top: 100px;	
	color: #fff;
	background-color:#fff;
	border-left-color:#CCCCCC;
	border-left-style:solid;
	border-right-color:#CCCCCC;
	border-right-style:solid;
	border-bottom-color:#CCCCCC;
	border-bottom-style:solid;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius:10px;
}
.login-header {
	border-top-color:#3366CC;
	border-bottom-color:#3366CC;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-width:25px;
	border-bottom-width:25px;
	padding-top:20px;
	width: 100%;
	height: 130px;
	background-color:#CCFFFF;
}
.title-img{
	padding-left:230px;
	padding-top:5px;
	float: left;
	margin-left: 10px;
}
h1.title {
	padding-left:350px;
	font-weight: bold;
	font-size: 50px;
	line-height: 0;
	color: #FF0000;
	
}
h2.title {
	padding-left:350px;
	color: #CC0000;
}
.webtrang{
	height: 50px;
}
.title2{
	margin-top:50px;
	margin-left:350px;
	background-color:#3366CC;
	width:600px;
	color: #fff;
	height: 40px;
	font-size:20px;
	text-align: center;	
	display: inline-block;
	padding-top:10px;
	border-top-left-radius: 10px;
	border-top-right-radius:10px;
}
form#form_login {
    max-width: 330px;
    margin: 0 auto;
}
input.input-field:focus {
	color: #000;
}
input.input-field {
    width: 100%;
    padding: 14px 10px;
    margin-bottom: 14px;
    background: #fff;
    border: 1px solid #424a52;
    position: relative;
    transition: all .3s;
    -webkit-transition: all 0.3s;
    display: block;
    box-sizing: border-box;
	color:#000000;
}
input.input-field:focus {
    outline: none;
    border: 1px solid #bec8d2;
    background: #f7f7f7;
}

.form-group {
    display: block;
    width: 100%;
}

button.btn.btn-primary {
    width: 100%;
    padding: 14px 10px;
    background: #2191bf;
    box-shadow: none;
    color: #ffffff;
    border: 1px solid #2d86ab;
    margin-bottom: 30px;
		font-size: 16px;
		font-weight: 1000;
}

button.btn.btn-primary i {
    font-size: 16px;
    margin-left: 10px;
    color: #000000;	
}

.toolbar_bottom_fix {
    bottom: 0;
    height: 26px;
    left: 0;
    position: fixed;
    right: 0;
    width: 100%;
    background-color:#3366CC;
    color:#fff;
    font-size: 13px;
    padding-top: 8px;    
    z-index: 100;
    margin-top:0px;
}
.demo1{
    bottom: 0px;
    height: 430px;
    left: 0;
    position: fixed;
    right: 0;
	width: 20%;
}
.demo2{
    bottom: 0px;
    height: 250px;
    left: 0;
    position: fixed;
    right: 0;
	width: 20%;
}
.login-bottom-links{
	font-size: 20px;
}

